extends layout

block header
    // +css('/css/register.css')
    +css('/css/index.css')
    style.
      .site-wrapper {
        padding-top: 3em;
      }

block loadFiles
    +js('/js/register_student.js')

block content
  .site-wrapper
    .site-wrapper-inner-center-off
      .cover-container
        include topbar
        .inner.cover.shadow-off
          .inner
            .row
              h1 学生の新規登録
              br
              form.form-inline
                .form-group(style="margin:3px")
                  label(for="file") csvファイル
                  |&nbsp;
                  |&nbsp;
                  input#file.form-control(type="file", name="csvFile", style="width:auto" required)
                .form-group(style="margin:3px")
                button#button.btn.btn-primary 登録を完了する
              br
              br
              br
              .preview(style="display:none")
                p.h4 追加されるユーザー
                table.table.table-hover(id="allDataTable")
                  thead
                    tr
                    - tableHead = ["名前","管理者", "学籍番号(id)", "password"]
                    - for(var i = 0; i < tableHead.length; i++){
                      th #{tableHead[i]}
                    - }
                  tbody#preview-body
